*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.trans{
	position: fixed;
    width: 100%;
    line-height: 6vh;
    /* background:linear-gradient(to right  ,  #22a6b3,#4834d4); */
    backdrop-filter: blur(12px) saturate(100%);
    -webkit-backdrop-filter: blur(12px) saturate(50%);
}

#navbarNavDropdown{
    margin-right: 3rem;
}
.myNav ul li a{
    color: white;
    font-weight: 600;
    font-size: 20px;
    
}
.image-container {
	/* margin-top: 10%; */
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
    /* margin-top: 10vh; */
}
.image-container img{
	width: 100%;
	height: 670px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 670px;
	display: block;
    /* background: #00000027; */
	color: cornsilk;
	display: flex;
	justify-content: center;
	align-items: center;
}
.image-container .after-head{
	color: rgb(0, 0, 0);
	margin-top: -20vh;
    margin-left: 1vw;
    text-align: center;
    /* font-size: 22px; */
}

.after-head h1{
    margin-top:25%;
    font-size: 70px;
    word-spacing: 10px;
    color: cornsilk;
    font-weight: 700;
}
.after-head .para{
    display: flex;
    margin-top: 5vh;
    /* justify-content: space-between; */
    /* align-items: center; */
    color: cornsilk;
}

.after button{
    background-color: transparent;
    border: 2px solid cornsilk;
    color: cornsilk;
    font-weight: 600;

}
.after button:hover{
    color: cornsilk;
    background-color: darkblue;
    border: none;
    font-weight: 600;
}
.intro{
    margin-top: 5vh;
}
.wrap-content{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-content{
margin: 0 auto;
text-align: center;
}
.main-content h2{
    padding-bottom: 1rem;
}

.description-container {
	/* margin-top: 10%; */
    position: relative;
    width: 100%;
    height: 100%;
}
.description-container img{
	width: 100%;
	height: 750px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.description-container .desc-after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
	display: block;
    background: #00000081;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.basic-desc{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.basic-desc p{
    margin-bottom: 10vh;
}
.basic-desc img{
    width: 320px;
    height: 300px;
    border-radius: 10px;
}
.description-container h3{
    font-weight: 600;
}
.ser{
    /* margin-top: 10%; */
    background: linear-gradient(-45deg, #0fbcf9, #4834d4, #23a6d5, #0652DD);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    /* background:linear-gradient(to right  ,  #22a6b3,#4834d4); */
    height: 500px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.box1{
    
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* position: absolute; */
    max-height: 30vh;
}
.box2{
    background-color: rgb(248, 245, 245);  
    border-radius: 5px;
    box-shadow: 0px 15px 10px -15px #111;
}
.box2 h3{
    text-align: center;
}
.box-con{
    margin-top: 8vh;
    display: flex;
    
    justify-content: space-between;
    align-items:center;
}
.box2:hover{
    transform: scale(1.1);
    transition: transform ease .3s;
}
.box2 p{
    padding: 35px 30px;

}
.faq{
    margin-top: 10vh;
}
.faq h1{
    text-align: center;
    margin-bottom: 8vh;
}

  .box {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  .services{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right  ,  #22a6b3,#4834d4);
    max-height: 50vh;
}
  .box-container{
      /* margin-top: 90vh; */
      /* width: 1100px;/ */
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .boxes{
      margin-top: 50vh;
      width: 320px;
      position: relative;
      padding: 50px 30px 20px;
      background-color: white;
  }
  .wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background:linear-gradient(90deg,#0b9dff,#f877ed);
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .4;
    background: rgb(3, 157, 184);
  }
  
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }
  
  .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
  }
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
.banner
{
	width: 100%;
	height: 550px;
	position: relative;

	background: rgb(163,78,78);
	background: -moz-linear-gradient(-45deg,#0fbcf9 0%,  #3c40c6  44%, #3c40c6  100%);
	background: -webkit-linear-gradient(-45deg,   #0fbcf9  0%,  #3c40c6  44%, #3c40c6 100%);
	background: linear-gradient(135deg,   #0fbcf9 0%,  #3c40c6 44%, #3c40c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a34e4e', endColorstr='#3235bc',GradientType=1 );
}


.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #25CCF7;
    color: white;
    border-radius: 45% 50%;
    margin-bottom: 1vh;
  }
  
  .twitter {
    background: #3B3B98;
    color: white;
    border-radius: 50% 50%;
    margin-bottom: 1vh;
  }
  
  .google {
    background:  #25CCF7;
    color: white;
    border-radius: 50% 50%;
    margin-bottom: 1vh;
  }
  
  .linkedin {
    background: #55ACEE;
    color: white;
    border-radius: 50% 50%;
  }
  
  .youtube {
    background:  rgb(243, 140, 5);
    color: white;
    border-radius: 50% 50%;
  }
  


.faq{
    margin-bottom: 15vh;
}

.banner svg
{
	position: absolute;
	bottom: -10px;
	left: 0;
	height: 350px;
}

.banner-text h4{
    margin-top: 15%;
   /* margin-left: 40%; */ 
  text-align: center;
   font-size: 70px;
   font-weight: 600;
   color: cornsilk;
}
.map{
    width: 100%;
    margin-top: 5vh;
}

.description-container{
    margin-top: 15vh;
}
.desc-after-head h3{
    padding-top: 7rem;
    
}
.services{
    margin-bottom: 15vh;
}
.team{
    margin-top: 10vh;
    margin-bottom: -35vh;
}
.team h2{
    text-align: center;
    margin-top: 10vh;
    /* padding-bottom: 7vh; */
    font-weight: 600;
    font-size: 60px;

}
.intro-cards{
	display: flex;
	justify-content: center;
	align-items: center;
    text-align:center;
    /* margin-top: 15vh; */
}
.team-para{
	margin-top: 50vh;
}
.team .intro-cards img{
    border-radius: 50%;
}
 #b{
    background-color: transparent;
    border: 1px solid cornsilk;
    color: cornsilk;
    font-weight: 600;

}
#b:hover{
    color: cornsilk;
    background-color: darkblue;
    border: none;
    font-weight: 600;
}
.contact{
    height: 700px;
    color: cornsilk;
}
.contact h2{
    text-align: center;
    margin-top: 15vh;
    font-size: 60px;
    font-weight: 600;
}
.contact-sec{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-sec i{
    padding-right: 1rem;
}
.in-details p{
    text-align: center;
}
.carousel{
    margin-bottom: 5vh;
}
.dog-fam{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
}
.dog-fam img{
    margin-top: 10vh;
}
.team{
    margin-top: 25vh;
}
#bottom{
    margin-top: 20vh;
}
.team-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    border: none;
    text-align: center;
}
.card img{
    margin-bottom: 5vh;
}
#rule{
    margin:0 auto;
    width:5vw;
    background-color: darkblue;
    height: 5px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.team-box .card .social{
    margin-bottom: 5vh;
}
.team-box .shadow{
    -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
}
.team-box .card .social a{
    display: inline-block;
    margin:0 8px;
    text-align: center;
    font-size: 15px;
    color: cornsilk;
    background-color: darkblue;
    border-radius: 50%;
    width:32px;
    height:32px;
    line-height:32px;
    padding :0 2px;
}
/***************************** mediaquery***************** */
@media (max-width: 576px) {
    .wrap-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .basic-desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .after-head h1 {
        margin-top: 70%;
        font-size: 50px;
        text-align: center;
    
    }
    .main-content h2 {
     font-size: 20px;
    }

    .main-content p {
        font-size: 14px;
       }

    .description-container{
        margin-top: 70vh;
        display: none;
    }
    .description-container .bg-img img{
        display: none;
    }
    .faq{
        margin-top: 20%;
    }
    .banner h4{
        margin-top: 15vh;
    }
    .icon-bar{
        margin-top: 12vh;
        border-radius: 10% 10%;
    }
    .ser{
        height: 1500px;
    }

    .box1{
        margin-top: 120vh; 
    }
  .bo{
        color: cornsilk;
    }
    .box-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box2{
        margin-bottom: 5vh;
    }
    .team-head{
        margin-top: 25vh;
    }
    .team-para{
        margin-top: 45vh;
        margin-bottom: 10vh;
    }
    .team-para p{
        text-align: center;
    }
    .team-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 }
 #bottom{
     margin:10vh;

 }
 /* #mid{
     margin:3vh;
 } */
 .contact{
     height: 1000px;
     font-size: 18px;
 }
 .contact h2{
     font-size: 38px;
     padding-bottom: 20px;
 }
 .contact span{
     font-weight: 600;
     font-size: 22px;
 }
 .contact h3{
    font-weight: 700;
    font-size: 26px;
 }
 .contact-sec{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
 }
 .contact-sec .form{
    margin-bottom: 90vh;
 }
 .box1 .clinic-head{
     margin-top: 30vh;
 }
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .gallery{
      margin-bottom: 5vh;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

/************************** timeline ******************************/
.main-timeline{ font-family: 'Libre Franklin', sans-serif;
text-decoration: none; }
.main-timeline:after{
content: '';
display: block;
clear: both;
}
.main-timeline .timeline{
width: calc(50% + 110px);
margin: 0 0 30px;
float: right;
}
.main-timeline .timeline-content{
background: #fff;
padding: 25px 25px 25px 175px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
display: block;
position: relative;
text-decoration: none;
}
/* .main-timeline .timeline-content:hover{ text-decoration: none; } */
.main-timeline .timeline-content:before{
content: "";
background: #1e3799;
width: 125px;
height: 100%;
border: 0 solid #0c2461;
border-right-width: 30px;
position: absolute;
top: 0;
left: 0;
}
.main-timeline .timeline-icon{
color: #fff;
background: #1e3799;
font-size: 45px;
text-align: center;
line-height: 105px;
width: 100px;
height: 100px;
border-radius: 50%;
box-shadow: 1px 1px 0px #fff inset, 0 0 8px rgba(0, 0, 0, 0.4);
transform: translateY(-50%);
position: absolute;
top: 50%;
left: 62px;
}
.main-timeline .timeline-year{
color: #fff;
font-size: 35px;
font-weight: 700;
line-height: 35px;
transform: translateY(-50%) rotate(90deg);
position: absolute;
top: 50%;
left: -10px;
}
.main-timeline .title{
color: #0c2461;
font-size: 24px;
font-weight: 700;
letter-spacing:normal;
text-transform: capitalize;
margin-top: -18vh;

/* margin: 0 0 8px; */
}
.main-timeline .description{
color: #777;
font-size: 16px;
margin: 0;
}
.main-timeline .timeline:nth-child(even){ float: left; }
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 25px 175px 25px 25px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
border-left-width: 30px;
border-right-width: 0;
left: auto;
right: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
left: auto;
right: -10px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
box-shadow: -1px 1px 0px #fff inset, 0 0 8px rgba(0, 0, 0, 0.4);
left: auto;
right: 62px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{
background: #129bbd;
border-color: #0c7088;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{ background: #0c7088; }
.main-timeline .timeline:nth-child(4n+2) .title{ color: #129bbd; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{
background: #3c40c6;
border-color: #1B1464;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{ background: #3c40c6; }
.main-timeline .timeline:nth-child(4n+3) .title{ color: #1B1464; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{
background: #22a6b3;
border-color: #0c7088;
}
.main-timeline .timeline:nth-child(4n+4) .title{ color: #22a6b3; }
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{ background: #0c7088; }
@media screen and (max-width:767px){
    .main-timeline .timeline{ width: 100%; }
}
@media screen and (max-width:576px){
      .main-timeline .timeline, .main-timeline .timeline:nth-child(even) {
        text-align: center;
        margin: 0 0 30px;
   }
    .main-timeline .timeline-content, .main-timeline .timeline:nth-child(even) .timeline-content {
        padding: 15px 10px 175px 10px;
   }
    .main-timeline .timeline-content:before, .main-timeline .timeline:nth-child(even) .timeline-content:before {
        width: 100%;
        height: 123px;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 30px;
        top: auto;
        bottom: 0;
   }
    .main-timeline .timeline-year, .main-timeline .timeline:nth-child(even) .timeline-year {
        transform: translateX(-50%) translateY(0) rotate(0deg);
        top: auto;
        bottom: 10px;
        left: 50%;
   }
    .main-timeline .timeline-icon, .main-timeline .timeline:nth-child(even) .timeline-icon {
        box-shadow: -1px -1px 0px #fff inset, 0 0 8px rgba(0, 0, 0, 0.4);
        transform: translateX(-50%) translateY(0);
        top: auto;
        bottom: 62px;
        left: 50%;
   }
    .main-timeline .title {
        font-size: 20px;
   }
    
}

/* ***********************************footer************* */
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background:#0449ca
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }